.nav-container {
    background-color: #F9F7F3;
    height: 90px;   

}

.nav-menu {    
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    height: 90px;
    
}

.blog-button {
    background-color: #B4F461;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2rem;
}

.middle-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.end-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #666666;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Toggle menu starts */
.toggle-menu {
    align-items: center;
    text-align: center;
    padding: 3rem;
    background-color: white;
    position: sticky;
    top: -20px;
    overflow: hidden;


}

.btn-donation,
.btn-history {
    padding: 12px 25px;
    border-radius: 8px;
    border: 2px solid #888888;
    font-size: 1.2rem;
    font-weight: 600;
    color: #666666;
    margin-right: .6rem;

}

.btn-donation:active {
    background-color: yellow;
}

.btn-donation:visited {
    color: green;
}

/* card section starts */
.card-1 {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: 2px solid #f1efef;
    border-radius: 8px;
    padding: 1.8rem;
    /* gap: 20px; */
}

.balance-for-noakhali {
    display: flex;
    background-color: #f4f2f2;
    border-radius: 8px;
    padding: .5rem 1.2rem;
    width: 9rem;
    align-items: center;
    justify-content: center;
    gap: .3rem;

}

.flood-image {
    width: 100%;
    /* border: 1px solid red; */
}

.flood-image img {
    width: 90%;
    /* border: 1px solid red; */
}

.text-field {
    width: 100%;
}

.noakhali-title {
    font-size: 1.6rem;
    margin-top: 1rem;
    font-weight: 600;
}

.paragraph {
    margin-top: 1rem;
    line-height: 1.5rem;
    color: #666666;
}

.input-for-noakhali {
    border: 1px solid #f1efef;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 8px;
}

.donate-now-btn {
    background-color: #B4F461;
    border-radius: 8px;
    font: bold;
    padding: .8rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;

}

/* responsive and mediaquery */
@media screen and (max-width: 576px) {
    .nav-container {
        height: 170px;
    }

    .nav-menu {
        flex-direction: column;
        gap: 20px;
        margin-top: 10px;
        padding: 10px;
    }

    .card-1 {
        max-width: 100%;
        display: block;
        margin: 0 15px;
        padding: 15px
    }

    .flood-image img {
        width: 100%;
    }

    .balance-for-noakhali {
        margin-top: 1.2rem;
    }


}